---
http_interactions:
- request:
    method: get
    uri: http://camerapl.us/b72Z:info?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"page":{"timestamp":"2011-07-01 21:50:40","views":1162,"comments":6,"tweet":{"id":"86914646237384704","text":"Tiny
        Town of Kotor, Montenegro #mybestphoto","userid":14199276,"username":"lucyk","realname":"lucyk","avatar":"http:\/\/a0.twimg.com\/profile_images\/1318866321\/avatar1_sqr_normal.jpg"}},"pictures":[{"800px":"http:\/\/pics.campl.us\/f\/f\/f2cc65ab786741e7ab9fb994d06626a6.jpg","120px":"http:\/\/pics.campl.us\/t\/f\/f2cc65ab786741e7ab9fb994d06626a6.jpg","480px":"http:\/\/pics.campl.us\/iphone\/f\/f2cc65ab786741e7ab9fb994d06626a6.jpg","fullwidth":800,"fullheight":597,"recipe":[{"type":"scenemode","value":"<a
        href=\"\/clarity\" class=\"claritylink\">Clarity<\/a>"},{"type":"fx","value":"Miniaturize
        (80%)"}],"exifdata":[{"title":"Camera","value":"Apple iPhone","style":"main"},{"title":"Software","value":"Camera+","style":"main"},{"title":"Exposure","value":"1\/580
        sec","style":"main"},{"title":"Aperture","value":"f\/2.4","style":"main"},{"title":"Focal
        Length","value":"3.9 mm","style":""},{"title":"ISO Speed","value":"80","style":""},{"title":"Flash","value":"Auto,
        Did not fire","style":""},{"title":"Metering Mode","value":"Average","style":""},{"title":"Light
        Value","value":"12.0","style":""}]}],"comments":[{"author":"Lisa Bettany","avatar":"https:\/\/fbcdn-profile-a.akamaihd.net\/hprofile-ak-snc4\/261022_674215636_4030749_q.jpg","url":"http:\/\/www.facebook.com\/profile.php?id=674215636","text":"great
        shot!"},{"author":"Oleg Lutsenko","avatar":"http:\/\/profile.ak.fbcdn.net\/hprofile-ak-snc4\/174392_1318365438_6251454_q.jpg","url":"http:\/\/www.facebook.com\/profile.php?id=1318365438","text":"thanks)"},{"author":"Oliver
        Penack","avatar":"http:\/\/profile.ak.fbcdn.net\/hprofile-ak-snc4\/187424_100001101654937_4862655_q.jpg","url":"http:\/\/www.facebook.com\/profile.php?id=100001101654937","text":"what
        a stunning picture"},{"author":"John Goundry \u2714","avatar":"http:\/\/a3.twimg.com\/profile_images\/1380353650\/River_normal.jpg","url":"http:\/\/twitter.com\/Johntheone","text":"Congrats........
        and Wow! Amazing."},{"author":"Jason Hansen","avatar":"http:\/\/profile.ak.fbcdn.net\/hprofile-ak-snc4\/203279_589653873_6670910_q.jpg","url":"http:\/\/www.facebook.com\/profile.php?id=589653873","text":"I
        love tilt-shift photos & this is one of the best that I have seen.  Great
        shot!"},{"author":"Jonathan Feuer","avatar":"http:\/\/a1.twimg.com\/profile_images\/1375174511\/2D45AE39-9DB5-45C1-9F6E-D214DAEE514E_normal","url":"http:\/\/twitter.com\/SporTech","text":"This
        looks fantastic!  Congrats."}]}'
  recorded_at: Mon, 25 Feb 2013 22:12:36 GMT
recorded_with: VCR 2.4.0
