---
http_interactions:
- request:
    method: get
    uri: http://camerapl.us/user/kalleboo:pages?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"user":{"userid":3336921,"username":"kalleboo","realname":"Karl
        Baron","avatar":"http:\/\/a3.twimg.com\/profile_images\/801976154\/Sk_rmbillede_2010-04-06_kl._17.59.39_normal.jpg","pages":339,"pictures":419},"pages":[{"url":"http:\/\/campl.us\/infD","tweettext":"\u591c","tweetid":null,"timestamp":"2012-03-24
        13:27:03","views":36,"comments":0,"location":"31.58849123868308 130.5553706177795","locationname":"\u9e7f\u5150\u5cf6\u5e02,
        \u65e5\u672c","images":[{"800px":"http:\/\/pics.campl.us\/f\/1\/194d467736d175f32905da31952070ca.jpg","120px":"http:\/\/pics.campl.us\/t\/1\/194d467736d175f32905da31952070ca.jpg","480px":"http:\/\/pics.campl.us\/iphone\/1\/194d467736d175f32905da31952070ca.jpg","fullwidth":3264,"fullheight":2448,"location":"31.58849123868308
        130.5553706177795"}]},{"url":"http:\/\/campl.us\/ina5","tweettext":"\u713c\u8089\u98df\u3079\/\u98f2\u307f\u307b\u3046\u3060\u3044","tweetid":null,"timestamp":"2012-03-24
        12:06:16","views":34,"comments":0,"location":"31.58788180000205 130.5522145600023","locationname":"\u9e7f\u5150\u5cf6\u5e02,
        \u65e5\u672c","images":[{"800px":"http:\/\/pics.campl.us\/f\/6\/6712268e6a22e15265235944ec0d3dba.jpg","120px":"http:\/\/pics.campl.us\/t\/6\/6712[...]
- request:
    method: get
    uri: http://camerapl.us/user/kalleboo:pages?continue=hItg
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"user":{"userid":3336921,"username":"kalleboo","realname":"Karl
        Baron","avatar":"http:\/\/a3.twimg.com\/profile_images\/801976154\/Sk_rmbillede_2010-04-06_kl._17.59.3[...]
