---
http_interactions:
- request:
    method: get
    uri: http://camerapl.us/user/mostlylisa:pages?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"user":{"userid":6978642,"username":"mostlylisa","realname":"Lisa
        Bettany","avatar":"http:\/\/a0.twimg.com\/profile_images\/1767370289\/284161_10150711631895637_674215636_19658534_6246798_n_normal.jpeg","pages":120,"pictures":874},"pages":[{"url":"http:\/\/campl.us\/iao4","tweettext":"Carnival
        in Venice, a travel photographer''s dream shoot!","tweetid":"180064216093437954","timestamp":"2012-03-14
        22:53:49","views":1888,"comments":1,"location":"45.43383498680353 12.34226474539595","locationname":"Venice,
        Venice","images":[{"800px":"http:\/\/pics.campl.us\/f\/0\/0b497f01791c851db1a17f81e0621a5c.jpg","120px":"http:\/\/pics.campl.us\/t\/0\/0b497f01791c851db1a17f81e0621a5c.jpg","480px":"http:\/\/pics.campl.us\/iphone\/0\/0b497f01791c851db1a17f81e0621a5c.jpg","fullwidth":800,"fullheight":590,"location":"45.43383498680353
        12.34226474539595"},{"800px":"http:\/\/pics.campl.us\/f\/a\/a2fb3bfe849f16f5420f4ca8348f33a0.jpg","120px":"http:\/\/pics.campl.us\/t\/a\/a2fb3bfe849f16f5420f4ca8348f33a0.jpg","480px":"http:\/\/pics.campl.us\/iphone\/a\/a2fb3bfe849f16f5420f4ca8348f33a0.jpg","fullwidth":800,"fullheight":601,"location":"45.43305496689438
        12.33965336346285"},{"800px":"http:\/\/pics.campl.us\/f\/e\/e40e677a67af931391d1b0c2fdebc6f9.jpg","120px":"http:\/\/pics.campl.us\[...]
