---
http_interactions:
- request:
    method: get
    uri: http://camerapl.us/search?username=mostlylisa
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Location:
      - search.php
      Content-Type:
      - application/json
      Tcn:
      - choice
    body:
      encoding: US-ASCII
      string: ! '[{"url":"http:\/\/campl.us\/iiQb","tweettext":"@bbcrenshaw On average
        I take 5-15 shots of each scene to make sure my composition & focus are perfect.
        I took 10 here.","tweetid":"182208844892606464","timestamp":"2012-03-20 20:55:48","views":147,"comments":0,"location":null,"locationname":null,"user":{"userid":"6978642","username":"mostlylisa","realname":"Lisa
        Bettany","avatar":"http:\/\/a0.twimg.com\/profile_images\/1767370289\/284161_10150711631895637_674215636_19658534_6246798_n_normal.jpeg"},"images":[{"800px":"http:\/\/pics.campl.us\/f\/d\/de7421b027101574dc519796067bd3ac.jpg","120px":"http:\/\/pics.campl.us\/t\/d\/de7421b027101574dc519796067bd3ac.jpg","480px":"http:\/\/pics.campl.us\/iphone\/d\/de7421b027101574dc519796067bd3ac.jpg","fullwidth":533,"fullheight":800,"location":""}]},{"url":"http:\/\/campl.us\/iiPj","tweettext":"Back
        in the Big Apple!","tweetid":"182204831094673408","timestamp":"2012-03-20
        20:39:51","views":1361,"comments":2,"location":null,"locationname":null,"user":{"userid":"6978642","username":"mostlylisa","realname":"Lisa
        Bettany","avatar":"http:\/\/a0.twimg.com\/profile_images\/1767370289\/284161_10150711631895637_674215636_19658534_6246798_n_normal.jpeg"},"images":[{"800px":"http:\/\/pics.campl.us\/f\/1\/15[...]
