---
http_interactions:
- request:
    method: get
    uri: http://camerapl.us/user/kalleboo:pages?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"user":{"userid":3336921,"username":"kalleboo","realname":"Karl
        Baron","avatar":"http:\/\/a0.twimg.com\/profile_images\/2715272584\/ca2610860356f2b2bb851a5dd12e247b_normal.jpeg","pages":532,"pictures":716},"pages":[{"url":"http:\/\/campl.us\/n6FA","tweettext":"Grounded
        787...","tweetid":"305870204905324544","timestamp":"2013-02-25 02:41:54","views":39,"comments":0,"location":"35.54878498971351
        139.7929888541654","locationname":"\u5927\u7530\u533a, \u65e5\u672c","images":[{"800px":"http:\/\/pics.campl.us\/f\/3\/32707.cf2bc333d93454af1484458787d38c8c.jpg","120px":"http:\/\/pics.campl.us\/t\/3\/32707.cf2bc333d93454af1484458787d38c8c.jpg","480px":"http:\/\/pics.campl.us\/iphone\/3\/32707.cf2bc333d93454af1484458787d38c8c.jpg","fullwidth":745,"fullheight":560,"location":"35.54878498971351
        139.7929888541654"}]},{"url":"http:\/\/campl.us\/n5o5","tweettext":"OH! Insaide
        of my ear is...","tweetid":"305337903431700480","timestamp":"2013-02-23 15:26:43","views":48,"comments":0,"location":"35.68069680694747
        139.7691072287961","locationname":"\u4e2d\u592e\u533a, \u65e5\u672c","images":[{"800px":"http:\/\/pics.campl.us\/f\/1\/17046.00f224a4bbb52dd851f12609d43257a3.jpg","120px":"http:\/\/pics.campl.us\/t\/1\/17046.00f224a4bbb52dd851[...]
- request:
    method: get
    uri: http://camerapl.us/user/kalleboo:pages?continue=nrpk
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"user":{"userid":3336921,"username":"kalleboo","realname":"Karl
        Baron","avatar":"http:\/\/a0.twimg.com\/profile_images\/2715272584\/ca2610860356f2b2bb851a5dd12e247b_n[...]
