---
http_interactions:
- request:
    method: get
    uri: http://camerapl.us/mnc5:info?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"page":{"timestamp":"2012-10-14 19:02:41","views":6340,"comments":5,"tweet":{"id":"257557053906763776","text":"Ushuaia,
        Argentina. El fin del mundo!","userid":6978642,"username":"mostlylisa","realname":"Lisa
        Bettany","avatar":"http:\/\/a0.twimg.com\/profile_images\/2973069182\/d0715d6c5e235343adea29f2ada071f3_normal.jpeg"},"location":{"coords":"-54.83939283532541
        -68.31303983001813","name":"Ushuaia, Argentina"}},"pictures":[{"800px":"http:\/\/pics.campl.us\/f\/1\/13199.6d25629bbfd0d729e8ba2b0c4a9132fc.jpg","120px":"http:\/\/pics.campl.us\/t\/1\/13199.6d25629bbfd0d729e8ba2b0c4a9132fc.jpg","480px":"http:\/\/pics.campl.us\/iphone\/1\/13199.6d25629bbfd0d729e8ba2b0c4a9132fc.jpg","fullwidth":1200,"fullheight":900,"location":"-54.83939283532541
        -68.31303983001813","recipe":[{"type":"scenemode","value":"<a href=\"\/clarity\"
        class=\"claritylink\">Clarity<\/a>"}],"exifdata":[{"title":"Camera","value":"Apple
        iPhone 5","style":"main"},{"title":"Software","value":"Camera+","style":"main"},{"title":"Exposure","value":"1\/2262
        sec","style":"main"},{"title":"Aperture","value":"f\/2.4","style":"main"},{"title":"Focal
        Length","value":"4.1 mm","style":""},{"title":"ISO Speed","value":"50","style":""},{"title":"Flash","value":"Off,
        Did not fire","style":""},{"title":"Metering Mode","value":"Multi-segment","style":""},{"title":"Light
        Value","value":"14.7","style":""}]},{"800px":"http:\/\/pics.ca[...]
