---
http_interactions:
- request:
    method: get
    uri: http://camerapl.us/user/mostlylisa:pages?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"user":{"userid":6978642,"username":"mostlylisa","realname":"Lisa
        Bettany","avatar":"http:\/\/a0.twimg.com\/profile_images\/2973069182\/d0715d6c5e235343adea29f2ada071f3_normal.jpeg","pages":142,"pictures":968},"pages":[{"url":"http:\/\/campl.us\/n5yq","tweettext":"Epic
        flight to Tofino in a Cessna 172.","tweetid":"305391522382241792","timestamp":"2013-02-23
        18:59:47","views":1128,"comments":0,"location":"48.646 -123.4221666666667","locationname":"North
        Saanich, BC, Canada","images":[{"800px":"http:\/\/pics.campl.us\/f\/4\/4570.09b0ef7f887fbec4dced7e43f27b125f.jpg","120px":"http:\/\/pics.campl.us\/t\/4\/4570.09b0ef7f887fbec4dced7e43f27b125f.jpg","480px":"http:\/\/pics.campl.us\/iphone\/4\/4570.09b0ef7f887fbec4dced7e43f27b125f.jpg","fullwidth":1280,"fullheight":960,"location":"48.646
        -123.4221666666667"},{"800px":"http:\/\/pics.campl.us\/f\/6\/6075.026965425e4bd270a687c641f858497c.jpg","120px":"http:\/\/pics.campl.us\/t\/6\/6075.026965425e4bd270a687c641f858497c.jpg","480px":"http:\/\/pics.campl.us\/iphone\/6\/6075.026965425e4bd270a687c641f858497c.jpg","fullwidth":1600,"fullheight":1200,"location":"48.646
        -123.4218333333333"},{"800px":"http:\/\/pics.campl.us\/f\/6\/6075.54c446cad653c734bfb2f192192eb017.jpg","120px":"http:\/\/pics.campl.u[...]
