---
http_interactions:
- request:
    method: get
    uri: http://camerapl.us/gcD72vPLXoq:info?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"page":{"timestamp":"2012-04-24 09:54:45","views":47,"comments":0,"tweet":{"id":null,"text":"link","userid":null,"username":null,"realname":null,"avatar":null}},"pictures":[{"800px":"http:\/\/pics.campl.us\/f\/8\/8da5f70558ea9027e1fe5890af52e113.jpg","120px":"http:\/\/pics.campl.us\/t\/8\/8da5f70558ea9027e1fe5890af52e113.jpg","480px":"http:\/\/pics.campl.us\/iphone\/8\/8da5f70558ea9027e1fe5890af52e113.jpg","fullwidth":533,"fullheight":800,"recipe":[],"exifdata":[{"title":"Software","value":"Camera+","style":"main"}]}]}'
  recorded_at: Mon, 25 Feb 2013 22:13:02 GMT
recorded_with: VCR 2.4.0
